<?xml version='1.0' encoding='utf-8'?>
<widget id="kz.imbay.imbay" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>imbay</name>
	<description>
		imbay - social network
	</description>
	<author email="nurassyl.aldan@gmail.com">
		Nurasyl Aldan
	</author>
	<content src="index.html" />
	<platform name="android">
		<preference name="Fullscreen" value="true" />
		<icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
		<icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
		<icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
		<icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.pngg" />
	</platform>
	<icon density="mdpi" height="48" platform="android" src="res/icon/android/icon.png" width="48" />
	<plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
	<allow-navigation href="*" />
	<access origin="*" subdomains="true" />
	<allow-intent href="*" />
</widget>
