<?xml version='1.0' encoding='utf-8'?>
<widget id="kz.imbay.imbay" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>imbay</name>
    <description>
        imbay - social network
    </description>
    <author email="nurassyl.aldan@gmail.com">
        Nurasyl Aldan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="browser" spec="~4.1.0" />
</widget>
