div(ng-controller='AboutController' layout='column' ng-cloak)
    include ./menu.pug
    md-content(flex)
        include ./header.pug
        div(layout='column')
            .logo
                img(src='img/main_logo.png' alt='')
            h4 imbay - социальная сеть
            .about
                b imbay 
                |- это социальная сеть которая еще развивается.
                br
                |Вы можете оценить фотографии и поделиться фотографиями, посмотреть отзывы ваших фотографий и узнать насколько красива ваша фотография.
                br
                |Поделитесь больше и оцените больше фотографий!
            md-divider
            .message
                |Друзья, проект еще развивается, обещаем, мы еще будем улучшить этот проект.
                br
                |Просим прощения за возможные ошибки. Следите за Google Play Market под ключевым словом imbay, мы часто будем обновлятся.
            md-divider
            .message
                |Наши планы в ближайшее время:
                ul
                    li Многоязычность приложения
                    li Восстановление имя пользователя и пароля через email
                    li Загрузка фото профиля
                    li Улучшение дизайна
                    li Разработка под iOS и WindowsPhone
                    li Разработка web сайта
                    li Личное сообщение
                    li Возможность ответить в комментариях
                    li Публикация фотографий на стену
                    li Личная страница пользователя
                    li Push уведомление о новых лайках и комментариях
                    li Просмотр фото под увеличением
                    li Загрузка видео и GIF анимаций
                    li Загрузка и слушать музыки, а также слушать офлайн под кэшированием
                    li Поиск пользователей
                    li Время последнего действия пользователя
                    li Время комментарий
                    li И еще много...
                br
                |
                b Спасибо за внимание, желаю вам удачи!
            p imbay &copy; 2017
