div(ng-controller='AboutController' layout='column' ng-cloak)
    include ./menu.pug
    md-content(flex)
        include ./header.pug
        div(layout='column')
            .logo
                img(src='img/main_logo.png' alt='')
            h4 imbay - социальная сеть
            p imbay &copy; 2017
