md-dialog.comment_dialog
    md-toolbar
        div.md-toolbar-tools(layout='row' layout-align='space-between center')
            h2 Comments
            md-button.md-icon-button
                i.fa.fa-close
    md-dialog-content
        div.md-dialog-content
            md-list(flex)
                md-list-item(layout='column')
                    .name(md-colors='{color: "blue"}') Nurasyl Aldan
                    .comment(md-colors='{color: "grey"}') Beautyful
