
<md-dialog class="comment_dialog">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h2>Comments</h2>
      <md-button class="md-icon-button" ng-click="cancel_dialog()"><i class="fa fa-close"></i></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-content layout-padding="layout-padding" layout-align="center" ng-show="comments == 0" md-colors="{color: &quot;grey&quot;}">Empty</md-content>
      <md-list flex="flex" ng-show="comments &gt; 0">
        <md-list-item layout="column" layout-align="left" ng-repeat="comment in comments">
          <div class="user_info" md-colors="{color: &quot;blue&quot;}" layout="row">
            <div class="photo"><img src="img/no_photo.png" alt=""/></div>
            <div class="name" layout="column"><span class="full_name">Nurasyl Aldan</span><span class="username">@nurasyl</span></div>
          </div>
          <div class="comment" md-colors="{color: &quot;grey&quot;}">{{ comment.text }}</div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </md-dialog-content>
</md-dialog>