div(ng-controller='HomeController' layout='column' ng-cloak)
    include ./menu.pug
    md-content(flex)
        include ./header.pug
        div(layout='column')
            .logo
                img(src='img/main_logo.png' alt='')
            .buttons(layout='column')
                md-button(md-colors='{backgroundColor: "blue"}' href='')
                    i.fa.fa-mars
                    span Gentlemen
                    i.fa.fa-arrow-right
                md-button(md-colors='{backgroundColor: "pink"}' href='')
                    i.fa.fa-venus
                    span Lady
                    i.fa.fa-arrow-right
