doctype html
html(ng-app='imbay')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet' type='text/css' href='css/lib/font-awesome.css')
    link(rel='stylesheet' type='text/css' href='css/lib/angular-material.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
  body(ng-controller='MainController', ng-cloak)
    div.ng-view.fade
    script(type='text/javascript' src='js/lib/jquery.js')
    script(type='text/javascript' src='js/lib/angular.js')
    script(type='text/javascript' src='js/lib/angular-animate.js')
    script(type='text/javascript' src='js/lib/angular-route.js')
    script(type='text/javascript' src='js/lib/angular-cookies.js')
    script(type='text/javascript' src='js/lib/angular-sanitize.js')
    script(type='text/javascript' src='js/lib/angular-animate.js')
    script(type='text/javascript' src='js/lib/angular-aria.js')
    script(type='text/javascript' src='js/lib/angular-messages.js')
    script(type='text/javascript' src='js/lib/angular-material.js')
    script(type='text/javascript' src='js/lib/angular-file-upload.js')
    script(type='text/javascript' src='js/script.js')
