
<div ng-controller="JoinController">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" href="/#!/login" aria-label="Settings"><i class="fa fa-chevron-left"></i></md-button><span>Регистрация</span>
    </div>
  </md-toolbar>
  <div class="container">
    <div layout="column" layout-padding="layout-padding" ng-cloak="ng-cloak">
      <div class="form">
        <form autocomplete="off" name="JoinForm">
          <md-input-container class="md-block">
            <input ng-model="form.first_name" type="text" placeholder="Имя" maxlength="15"/>
            <div class="error first_name"></div>
          </md-input-container>
          <md-input-container class="md-block">
            <input ng-model="form.last_name" type="text" placeholder="Фамилия"/>
            <div class="error last_name"></div>
          </md-input-container>
          <md-input-container class="md-block">
            <md-radio-group ng-model="form.gender">
              <md-radio-button class="md-primary" value="1">Парень</md-radio-button>
              <md-radio-button class="md-primary" value="0">Девушка</md-radio-button>
            </md-radio-group>
            <div class="error gender no-margin-top"></div>
          </md-input-container>
          <md-input-container class="md-block">
            <input ng-model="form.username" type="text" placeholder="Имя пользователя"/>
            <div class="error username"></div>
          </md-input-container>
          <md-input-container class="md-block">
            <input ng-model="form.password" type="text" placeholder="Пароль"/>
            <div class="error password"></div>
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" flex="flex" ng-click="submit()">Зарегистрироваться</md-button>
          </div>
        </form>
      </div>
      <div class="links" layout="column">
        <md-button href="/#!/login">Войти</md-button>
      </div>
    </div>
  </div>
</div>