div(ng-controller='JoinController')
    md-toolbar
        div.md-toolbar-tools
            md-button(href='/#!/login' aria-label='Settings').md-icon-button
                i.fa.fa-chevron-left
            span Registration
    .container
        div(layout='column' layout-padding ng-cloak)
            .form
                form(autocomplete='off' name='JoinForm')
                    md-input-container.md-block
                        input(ng-model='form.first_name' type='text' placeholder='First name')
                        div.error.first_name
                    md-input-container.md-block
                        input(ng-model='form.last_name' type='text' placeholder='Last name')
                        div.error.last_name
                    md-input-container.md-block
                        md-radio-group(ng-model='form.gender')
                            md-radio-button(value='1').md-primary Male
                            md-radio-button(value='0').md-primary Female
                        div.error.gender.no-margin-top
                    md-input-container.md-block
                        input(ng-model='form.email' type='text' placeholder='E-mail')
                        div.error.email
                    md-input-container.md-block
                        input(ng-model='form.username' type='text' placeholder='Username')
                        div.error.username
                    md-input-container.md-block
                        input(ng-model='form.password' type='text' placeholder='Password')
                        div.error.password
                    div(layout='row' layout-align='center center')
                        md-button.md-raised.md-primary(flex ng-click='submit()') Join
            .links(layout='column')
                md-button(href='/#!/login') Log in
