div(ng-controller='LadyController' layout='column' ng-cloak)
    include ./menu.pug
    md-content(flex)
        md-toolbar.md-accent(md-colors='{backgroundColor: "pink"}')
            div.md-toolbar-tools(layout='row' layout-align='space-between center')
                md-button(aria-label='{{name}}' ng-click='leftMenu()').md-icon-button
                    i.fa.fa-bars
                span Lady
                md-button(aria-label='Next').md-icon-button
                    i.fa.fa-arrow-right
        .container
            md-content(layout-padding)
                .image
                    img(src='img/woman.jpg' alt='')
                .name_and_likes(layout='row')
                    md-button(md-colors='{color: "red"}' flex)
                        i.fa.fa-thumbs-down
                    .name(layout='column')
                        .full_name(md-colors='{color: "pink"}') Gaukhar Abylkasymova
                        .username @gaukhar
                    md-button(md-colors='{color: "green"}' flex)
                        i.fa.fa-thumbs-up
                // md-divider
                .comment(layout='row')
                    md-input-container.md-block.no-error.md-accent
                        input(type='text' placeholder='Enter your comment here' md-detect-hidden='false')
                    md-button(flex).md-raised.md-accent
                        i.fa.fa-paper-plane
