div(ng-controller='LoginController' md-colors='{backgroundColor: "blue"}')
    div(layout='column' layout-padding ng-cloak).container
        .logo
            img(src='img/white_logo.png' alt='')
        .form
            form(onsubmit='return false' autocomplete='off' ng-submit='submit()')
                md-input-container.md-block
                    input(ng-model='form.username' type='text' placeholder='Имя пользователя' maxlength='36')
                md-input-container.md-block
                    input(ng-model='form.password' type='password' placeholder='Пароль' maxlength='100')
                div(layout='row' layout-align='center center')
                    md-button.md-raised.md-primary(flex type='submit') Войти
        .links(layout='column')
            md-button(href='index.html#!/join') Регистрация
