
<div ng-controller="LoginController" md-colors="{backgroundColor: &quot;blue&quot;}">
  <div class="container" layout="column" layout-padding="layout-padding" ng-cloak="ng-cloak">
    <div class="logo"><img src="img/white_logo.png" alt=""/></div>
    <div class="form">
      <form onsubmit="return false" autocomplete="off" ng-submit="submit()">
        <md-input-container class="md-block">
          <input ng-model="form.username" type="text" placeholder="Username"/>
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="form.password" type="password" placeholder="Password"/>
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" flex="flex" type="submit">Log in</md-button>
        </div>
      </form>
    </div>
    <div class="links" layout="column">
      <md-button href="/#!/recovery">Recovery</md-button>
      <md-button href="/#!/join">Registration</md-button>
    </div>
  </div>
</div>