section(layout='row' flex)
    md-sidenav.md-sidenav-left(md-component-id='leftMenu' md-whiteframe-4dp)
        .user(md-colors='{backgroundColor: "{{bgColor}}"}')
            .photo
                img(src='img/no_photo.png' alt='')
            .username @{{current_user.username}}
            .name {{current_user.first_name}} {{current_user.last_name}}
        md-list
            md-list-item
                md-button(href='index.html#!/people' layout='row' flex layout-align='start' ng-click='leftMenu()')
                    div
                        i.fa.fa-users
                    div Люди
            md-list-item
                md-button(href='index.html#!/my_photos' layout='row' flex layout-align='start' ng-click='leftMenu()')
                    div
                        i.fa.fa-picture-o
                    div Мои фотографии
            md-list-item
                md-button(href='index.html#!/settings' layout='row' flex layout-align='start' ng-click='leftMenu()')
                    div
                        i.fa.fa-cog
                    div Настройки
            md-list-item
                md-button(layout='row' flex layout-align='start' ng-click='deleteSession()')
                    div
                        i.fa.fa-sign-out
                    div Выйти
            md-list-item
                md-button(href='index.html#!/about' layout='row' flex layout-align='start' ng-click='leftMenu()')
                    div
                        i.fa.fa-question-circle
                    div О нас
