
<div ng-controller="MyPhotosController" layout="column" ng-cloak="ng-cloak">
  <section layout="row" flex="flex">
    <md-sidenav class="md-sidenav-left" md-component-id="leftMenu" md-whiteframe-4dp="md-whiteframe-4dp">
      <div class="user" md-colors="{backgroundColor: &quot;{{bgColor}}&quot;}">
        <div class="photo"><img src="img/no_photo.png" alt=""/></div>
        <div class="username">@{{current_user.username}}</div>
        <div class="name">{{current_user.first_name}} {{current_user.last_name}}</div>
      </div>
      <md-list>
        <md-list-item>
          <md-button href="/#!/people" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-users"></i></div>
            <div>People</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/my_photos" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-picture-o"></i></div>
            <div>My photos</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/settings" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-cog"></i></div>
            <div>Settings</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button layout="row" flex="flex" layout-align="start" ng-click="deleteSession()">
            <div><i class="fa fa-sign-out"></i></div>
            <div>Exit</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/about" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-question-circle"></i></div>
            <div>About</div>
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </section>
  <md-content flex="flex">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="{{title}}" ng-click="leftMenu()"><i class="fa fa-bars"></i></md-button><span>{{title}}</span>
      </div>
    </md-toolbar>
  </md-content>
  <div class="container" layout="column">
    <div class="form">
      <form autocomplete="off" name="FileForm">
        <md-button class="md-raised" md-colors="{backgroundColor: &quot;green&quot;}" flex="flex">
          <label for="file-input"><i class="fa fa-cloud-upload left"></i><span class="file_select_text">Upload photo</span></label>
        </md-button>
        <input class="ng-hide" type="file" nv-file-select="nv-file-select" uploader="uploader" accept="image/*" id="file-input"/>
      </form>
    </div>
  </div>
  <md-list flex="flex">
    <md-content layout-padding="layout-padding" style="text-align: center;" ng-show="photos.length == 0" md-colors="{color: &quot;grey&quot;}">Empty</md-content>
    <md-list-item layout="row" ng-repeat="photo in photos">
      <md-content flex="flex">
        <div class="img"><img src="{{api_url}}/photo/content/{{photo.id}}" alt=""/></div>
        <div class="info container" layout="row" layout-align="space-between center">
          <md-button flex="flex" md-colors="{color: &quot;blue&quot;}"><i class="fa fa-eye"></i><span>{{photo.views}}</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;green&quot;}"><i class="fa fa-thumbs-up"></i><span>{{photo.likes}}</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;red&quot;}"><i class="fa fa-thumbs-down"></i><span>{{photo.dislikes}}</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;grey&quot;}" ng-hide="photo.new_comments != 0" ng-click="show_dialog(photo.id)"><i class="fa fa-comment"></i><span>{{photo.comments}}</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;red&quot;}" ng-hide="photo.new_comments == 0" ng-click="show_dialog(photo.id)"><i class="fa fa-comment"></i><span>{{photo.new_comments}}</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;red&quot;}" ng-click="remove(photo.id)"><i class="fa fa-trash"></i></md-button>
        </div>
      </md-content>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</div>