
<div ng-controller="MyPhotosController" layout="column" ng-cloak="ng-cloak">
  <section layout="row" flex="flex">
    <md-sidenav class="md-sidenav-left" md-component-id="leftMenu" md-whiteframe-4dp="md-whiteframe-4dp">
      <div class="user" md-colors="{backgroundColor: &quot;{{bgColor}}&quot;}">
        <div class="photo"><img src="img/no_photo.png" alt=""/></div>
        <div class="username">@nurasyl</div>
        <div class="name">Nurasyl Aldan</div>
      </div>
      <md-list>
        <md-list-item>
          <md-button href="/#!/people" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-users"></i></div>
            <div>People</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/my_photos" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-picture-o"></i></div>
            <div>My photos</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/settings" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-cog"></i></div>
            <div>Settings</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button layout="row" flex="flex" layout-align="start">
            <div><i class="fa fa-sign-out"></i></div>
            <div>Exit</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/about" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-question-circle"></i></div>
            <div>About</div>
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </section>
  <md-content flex="flex">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="{{title}}" ng-click="leftMenu()"><i class="fa fa-bars"></i></md-button><span>{{title}}</span>
      </div>
    </md-toolbar>
  </md-content>
  <md-list flex="flex">
    <md-list-item layout="row">
      <md-content flex="flex">
        <div class="img"><img src="img/man.jpg" alt=""/></div>
        <div class="info" layout="row" layout-align="space-between center">
          <md-button flex="flex" md-colors="{color: &quot;blue&quot;}"><i class="fa fa-eye"></i><span>8475</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;green&quot;}"><i class="fa fa-thumbs-up"></i><span>883</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;red&quot;}"><i class="fa fa-thumbs-down"></i><span>25</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;grey&quot;}"><i class="fa fa-comment"></i></md-button>
        </div>
      </md-content>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row">
      <md-content flex="flex">
        <div class="img"><img src="img/woman.jpg" alt=""/></div>
        <div class="info" layout="row" layout-align="space-between center">
          <md-button flex="flex" md-colors="{color: &quot;blue&quot;}"><i class="fa fa-eye"></i><span>5657</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;green&quot;}"><i class="fa fa-thumbs-up"></i><span>563</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;red&quot;}"><i class="fa fa-thumbs-down"></i><span>75</span></md-button>
          <md-button flex="flex" md-colors="{color: &quot;red&quot;}" href=""><i class="fa fa-comment"></i><span>5</span></md-button>
        </div>
      </md-content>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</div>