div(ng-controller='PeopleController' layout='column' ng-cloak)
    include ./menu.pug
    md-content
        include ./header.pug
        div(layout='column')
            .logo
                img(src='img/main_logo.png' alt='')
                .buttons(layout='column').container
                    md-button(md-colors='{backgroundColor: "blue"}' href='/#!/photo?gender=1')
                        i.fa.fa-mars
                        span Джентлмены
                        i.fa.fa-arrow-right
                    md-button(md-colors='{backgroundColor: "pink"}' href='/#!/photo?gender=0')
                        i.fa.fa-venus
                        span Леди
                        i.fa.fa-arrow-right
