
<div ng-controller="PhotoController" layout="column" ng-cloak="ng-cloak">
  <section layout="row" flex="flex">
    <md-sidenav class="md-sidenav-left" md-component-id="leftMenu" md-whiteframe-4dp="md-whiteframe-4dp">
      <div class="user" md-colors="{backgroundColor: &quot;{{bgColor}}&quot;}">
        <div class="photo"><img src="img/no_photo.png" alt=""/></div>
        <div class="username">@{{current_user.username}}</div>
        <div class="name">{{current_user.first_name}} {{current_user.last_name}}</div>
      </div>
      <md-list>
        <md-list-item>
          <md-button href="index.html#!/people" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-users"></i></div>
            <div>Люди</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="index.html#!/my_photos" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-picture-o"></i></div>
            <div>Мои фотографии</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="index.html#!/settings" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-cog"></i></div>
            <div>Настройки</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button layout="row" flex="flex" layout-align="start" ng-click="deleteSession()">
            <div><i class="fa fa-sign-out"></i></div>
            <div>Выйти</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="index.html#!/about" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-question-circle"></i></div>
            <div>О нас</div>
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </section>
  <md-content flex="flex">
    <md-toolbar class="md-accent" md-colors="{backgroundColor: &quot;{{bgColor}}&quot;}">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-button class="md-icon-button" aria-label="{{name}}" ng-click="leftMenu()"><i class="fa fa-bars"></i></md-button><span>{{title}}</span>
        <md-button class="md-icon-button" ng-click="get()"><i class="fa fa-arrow-right"></i></md-button>
      </div>
    </md-toolbar>
    <div class="container">
      <md-content class="photo" layout-padding="layout-padding">
        <div class="image"><img src="{{api_url}}/photo/content/{{photo.id}}" alt=""/></div>
        <div class="name_and_likes" layout="row" layout-align="space-between center">
          <md-button md-colors="{color: &quot;red&quot;}" ng-click="to_like(0)" ng-show="like != 0 || like == null"><i class="fa fa-thumbs-down"></i></md-button>
          <md-button md-colors="{backgroundColor: &quot;red&quot;}" ng-show="like == 0"><i class="fa fa-thumbs-down"></i></md-button>
          <div class="name" layout="column">
            <div class="full_name" md-colors="{color: &quot;{{bgColor}}&quot;}">{{photo.first_name}} {{photo.last_name}}</div>
            <div class="username">@{{photo.username}}</div>
          </div>
          <md-button md-colors="{color: &quot;green&quot;}" ng-click="to_like(1)" ng-show="like != 1 || like == null"><i class="fa fa-thumbs-up"></i></md-button>
          <md-button md-colors="{backgroundColor: &quot;green&quot;}" ng-show="like == 1"><i class="fa fa-thumbs-up"></i></md-button>
        </div>
        <!-- md-divider-->
        <form onsummit="return false" autocomplete="off" ng-submit="write_comment()">
          <div class="comment" layout="row" ng-show="bgColor == &quot;blue&quot;">
            <md-input-container class="md-block no-error">
              <input type="text" placeholder="Введите ваш комментарий" md-detect-hidden="false" ng-model="form.text" maxlength="100"/>
            </md-input-container>
            <md-button class="md-primary md-raised" flex="flex" type="submit"><i class="fa fa-paper-plane"></i></md-button>
          </div>
          <div class="comment" layout="row" ng-show="bgColor == &quot;pink&quot;">
            <md-input-container class="md-block no-error md-accent">
              <input type="text" placeholder="Введите ваш комментарий" md-detect-hidden="false" ng-model="form.text" maxlength="100"/>
            </md-input-container>
            <md-button class="md-accent md-raised" flex="flex" type="submit"><i class="fa fa-paper-plane"></i></md-button>
          </div>
        </form>
      </md-content>
    </div>
  </md-content>
</div>