
<div ng-controller="SettingsController" layout="column" ng-cloak="ng-cloak">
  <section layout="row" flex="flex">
    <md-sidenav class="md-sidenav-left" md-component-id="leftMenu" md-whiteframe-4dp="md-whiteframe-4dp">
      <div class="user" md-colors="{backgroundColor: &quot;{{bgColor}}&quot;}">
        <div class="photo"><img src="img/no_photo.png" alt=""/></div>
        <div class="username">@{{current_user.username}}</div>
        <div class="name">{{current_user.first_name}} {{current_user.last_name}}</div>
      </div>
      <md-list>
        <md-list-item>
          <md-button href="/#!/people" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-users"></i></div>
            <div>Люди</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/my_photos" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-picture-o"></i></div>
            <div>Мои фотографии</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/settings" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-cog"></i></div>
            <div>Настройки</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button layout="row" flex="flex" layout-align="start" ng-click="deleteSession()">
            <div><i class="fa fa-sign-out"></i></div>
            <div>Выйти</div>
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button href="/#!/about" layout="row" flex="flex" layout-align="start" ng-click="leftMenu()">
            <div><i class="fa fa-question-circle"></i></div>
            <div>О нас</div>
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
  </section>
  <md-content flex="flex">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="{{title}}" ng-click="leftMenu()"><i class="fa fa-bars"></i></md-button><span>{{title}}</span>
      </div>
    </md-toolbar>
    <div class="container">
      <div layout="column" layout-padding="layout-padding" ng-cloak="ng-cloak">
        <div class="form">
          <form class="update" autocomplete="off" ng-submit="update()">
            <md-input-container class="md-block">
              <input ng-model="form.first_name" type="text" placeholder="Имя" maxlength="15"/>
              <div class="error first_name"></div>
            </md-input-container>
            <md-input-container class="md-block">
              <input ng-model="form.last_name" type="text" placeholder="Фамилия" maxlength="15"/>
              <div class="error last_name"></div>
            </md-input-container>
            <md-input-container class="md-block">
              <md-radio-group ng-model="form.gender">
                <md-radio-button class="md-primary" value="1">Парень</md-radio-button>
                <md-radio-button class="md-primary" value="0">Девушка</md-radio-button>
              </md-radio-group>
              <div class="error gender no-margin-top"></div>
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" flex="flex" type="submit">Сохранить</md-button>
            </div>
          </form>
        </div>
        <div class="form">
          <form class="update_username" autocomplete="off" ng-submit="update_username()">
            <md-input-container class="md-block">
              <input ng-model="form.username" type="text" placeholder="Имя пользователя" maxlength="36"/>
              <div class="error username"></div>
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" flex="flex" type="submit">Сохранить</md-button>
            </div>
          </form>
        </div>
        <div class="form">
          <form class="update_password" autocomplete="off" ng-submit="update_password()">
            <md-input-container class="md-block">
              <input ng-model="form.password" type="text" placeholder="Новый пароль" maxlength="100"/>
              <div class="error password"></div>
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" flex="flex" type="submit">Сохранить</md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </md-content>
</div>