md-block(layout-padding layout='column' layout-align='center center').start_page
    .logo
        img(src='img/main_logo.png' alt='')
    .message Нет соединение с сервером.
    .button
        md-button.md-primary.md-raised(onclick='location.reload()') Перезапустить
